# Node
node_modules/
.env
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
/dist/
/build/

# Database
*.sqlite
*.db

# Service Account Keys

!db_schema.sql


# Misc
*.zip
*.bak
*.tmp

# Coverage
coverage/

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Screenshots
screenshots/
